html{
    height: 100vh;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background: #000000;
    
}

canvas{
    position: fixed;
    left: 50%;
    top: 50%;
    max-height: 100vh;
    max-width: 100vw;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.intro{
    /* width: 100%; */
    height: 250vh;
}

.intro h1{
    color: #fff;
    font-size: 4.2rem;
    margin: 5% 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
section div{
    z-index: 2;
}

section div p{
    /* padding-top: 10%; */
    color: #fff;
    font-size: 4rem;
    font-weight: bold;
    margin: 5% 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.d-none{
    display: none;
}

